# Ignore course materials in src (docs/slides/etc.)
/src/
src/**

# Usual .NET build outputs (kept here for convenience, even if already ignored elsewhere)
[Bb]in/
[Oo]bj/

# Rider/IDE files
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

/.vs/
vs/**